@charset "utf-8";
/* CSS Document */


/* Husk gode kommentarer til kode - både her og i HTML filer */
body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 96vh; /* Denne burde være sat til 100vh, men gør jeg det
	så fylder den mere end 100% hvordan det så end kan lade sig gøre
	*/
}

main {
	flex-grow: 1; /* Denne gør at main fylder og så kan footer sticke til bunden af siden */
}


.top_banner {
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding-bottom: 20px;
}

h1 {
	padding-left: 20px;
	text-align: center;
}

/* Flexbox navigation */
nav {
	display: flex;
	justify-content: center;
	width: 100%;
	/* leg */
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: #ddd;
	box-shadow: 0px 6px 10px -6px rgba(0,0,0,0.75);
}

nav a {
	text-decoration: none;
	color: #444;
	font-family: Roboto, sans-serif;
	padding: 10px;
}

nav a:hover {
	color: #272727;
}

/* Flow 1 og Flow 2 container start her */
.container {
	margin-top: 20px;
	display: flex;
	background-color: #ddd;
	align-items: center;
	justify-content: space-around;
}

.flow_pictures {
	padding-top: 10px;
	padding-bottom: 10px;
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); /* Laver formen for alle billeder med denne klasse */
}

/* leg med overlay her */
.flow_hover_container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  transform: skew(-10deg); /* Gør at overlay shapen passer NOGENLUNDE billedets form */
}

.flow_hover_container:hover .overlay {
opacity: 1;
}

.overlay_text {
   color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/* Flow 1 og Flow 2 container slut her */


/* Kompetencer css start her */

.kompetencer_container {
	margin-top: 20px;
	background-color: #ddd;
	
}

.kompetencer_overskrift {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
/* flex box til 3 deling */
.flex_grid_kompetencer {
	display: flex;
	justify-content: space-between;
}
.flex_grid_kompetencer .col_kompetencer {
	width: 32%;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
}

.container_skills {
	width: 100%; /* Fuld bredde lige pt */
	background-color: #9D9D9D; /* grå baggrund */
	border-radius: 20px; /* Runde hjørner på den grå baggrund */
}

.skills {
    text-align: right; /* hoejrestillet tekst */
    padding: 10px; /* padding rundt om */
    color: white; /* tekst hvid */
	border-radius: 20px; /* Runde hjørner på selve processbaren */
}

/* Sprog specifik */
.html {width: 90%; background-color: #4CAF50;} 
.css {width: 80%; background-color: #4CAF50;} 
.javascript {width: 10%; background-color: #F00D0D;} 
.java {width: 25%; background-color: #F00D0D;} 

/* Adobe specifik */
.photoshop {width: 20%; background-color: #F00D0D;} 
.illustrator {width: 0%; background-color: #F00D0D;} 
.xd {width: 60%; background-color: #4CAF50;} 
.dreamweaver {width: 50%; background-color: #4CAF50;} 

/* CMS specifik */
.drupal {width: 70%; background-color: #4CAF50;} 
.ezpublish {width: 50%; background-color: #4CAF50;} 
.sharepointonline {width: 40%; background-color: #FFE400;} 
.wordpress {width: 90%; background-color: #4CAF50;} 

/* Kompetencer css slut her */

footer {
	margin-top: 20px; /* Afstand til nederste indhold på siden */
	background-color: #ddd;
	font-family: Roboto, sans-serif;
	text-align: center;
	width: 100%
	/*  margin: auto auto 0 auto; */
}

#social_links {
	float: right;
	margin-top: 5px
}
