@charset "utf-8";
/* CSS Document */


/* Husk gode kommentarer til kode - både her og i HTML filer */
body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 96vh; /* Denne burde være sat til 100vh, men gør jeg det
	så fylder den mere end 100% hvordan det så end kan lade sig gøre
	*/
}

main {
	flex-grow: 1; /* Denne gør at main fylder og så kan footer sticke til bunden af siden */
}

/* Kompetencer css start her */

.kompetencer_overskrift {
	text-align: center;
}
/* flex box til 3 deling */
.flex_grid_kompetencer {
	display: flex;
	justify-content: space-between;
}
.flex_grid_kompetencer .col_kompetencer {
	width: 32%;
}

.container_skills {
	width: 100%; /* Fuld bredde lige pt */
	background-color: #ddd; /* grå baggrund */
	border-radius: 20px; /* Runde hjørner på den grå baggrund */
}

.skills {
    text-align: right; /* hoejrestillet tekst */
    padding: 10px; /* padding rundt om */
    color: white; /* tekst hvid */
	border-radius: 20px; /* Runde hjørner på selve processbaren */
}

/* Sprog specifik */
.html {width: 90%; background-color: #4CAF50;} 
.css {width: 80%; background-color: #2196F3;} 
.javascript {width: 10%; background-color: #2196F3;} 
.java {width: 25%; background-color: #2196F3;} 

/* Adobe specifik */
.photoshop {width: 20%; background-color: #2196F3;} 
.illustrator {width: 0%; background-color: #2196F3;} 
.xd {width: 60%; background-color: #2196F3;} 
.dreamweaver {width: 50%; background-color: #2196F3;} 

/* CMS specifik */
.drupal {width: 70%; background-color: #2196F3;} 
.ezpublish {width: 50%; background-color: #2196F3;} 
.sharepointonline {width: 40%; background-color: #2196F3;} 
.wordpress {width: 90%; background-color: #2196F3;} 

/* Kompetencer css slut her */

.top_banner {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Flexbox navigation */
nav {
	display: flex;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	
}

nav a {
	width: 100%;
	text-align: center;
	text-decoration: none;
	color: #444;
	font-family: Roboto, sans-serif;
	padding: 10px;
}

nav a:hover {
	background-color:#878787;
}

footer {
	margin-top: 50px; /* Afstand til nederste indhold på siden */
	background-color: #ddd;
	font-family: Roboto, sans-serif;
	text-align: center;
	width: 100%
	/*  margin: auto auto 0 auto; */
}

#social_links {
	float: right;
	margin-top: 5px
}
